html, body
  height: 100%
  width: 100%
  overflow-x: hidden
  font-family: "Helvetica", "Arial", sans-serif

.ember-application > .ember-view
  height: 100%
  width: 100%
  display: flex
  align-items: stretch
