<nav>
  <ul>
    {{#link-to 'portal.nav1'}}
      <li class=".nav-item">
        Nav Item #1
      </li>
    {{/link-to}}
    {{#link-to 'portal.nav2'}}
      <li class=".nav-item">
        Nav Item #1
      </li>
    {{/link-to}}
  </ul>
</nav>
